body {
background-color: black;
}


h1 {
font-size: 35px;
color: white;
text-align: center;
}


#container {
position: absolute;
top: 130px;
left: 200px;
background-color: #F08080;
border-radius: 18px;
height: 490px;
margin-bottom: 5px;
}



#canvas{
background-color: #F08080;
padding: 1px;
border-radius: 18px;

}

table {
text-align: center;
position: absolute;
left: 300px;
}


#titleValue {
border-radius: 5px;
}

#titleAdd {
padding: 2px;
background-color: black;
color: white;
border-radius: 5px;
}

#save {
padding: 2px;
background-color: black;
color: white;
border-radius: 5px;

}

#selects {
min-width: 200px;
padding: 10px;
float: right;
}

#imagecontainer {
background-color: grey;
height: 230px;

}


